<div class="row">
    <div class="container" >
    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-8 mt-4  text-center">
            <div class="ui image medium">
                    <img class="img"
                        src="asssets/circletech.png"
                        alt="Enotech Logo">
                </div>
            <h1 class="display-4 bg-theme text-white" style="font-family: orbitron;">404 Not Found!</h1>
            <hr>
            <p style="font-weight: bold;font-family:monaco;" >The Page you are trying to reach does not exist or is currently unavailable!</p>
        </div>
    </div>
</div>
</div>
