@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&display=swap);
* {
    font-family: 'Montserrat' !important;
    font-size: medium !important;
    background-color: #333;
}